BasedOnStyle: LLVM
IndentWidth: 2
ColumnLimit: 120
MaxEmptyLinesToKeep: 1
UseTab: Never
TabWidth: 2
Language: Cpp
DerivePointerAlignment: false
PointerAlignment: Left

ConstructorInitializerIndentWidth: 2

BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: true
  AfterClass: false
  AfterControlStatement: false
  AfterEnum: false
  AfterNamespace: false
  AfterStruct: false
  BeforeCatch: false
  BeforeElse: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false

IndentCaseLabels: true
NamespaceIndentation: All

AllowShortFunctionsOnASingleLine: None
AllowShortEnumsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false

BreakConstructorInitializers: AfterColon
PackConstructorInitializers: Never
ConstructorInitializerAllOnOneLineOrOnePerLine: false
SpaceBeforeCtorInitializerColon: false

AlwaysBreakTemplateDeclarations: Yes
SpaceAfterTemplateKeyword: false
SpacesInAngles: true

AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: false
FixNamespaceComments: false
SortIncludes: false
AlignConsecutiveDeclarations: false
EmptyLineBeforeAccessModifier: Always
RemoveEmptyLinesInUnwrappedLines: true
SeparateDefinitionBlocks: Always
